@mixin section-layout() {
  &__container {
    @include container;
  }

  &__body {
    @include full;
    @include pad($base-spacing);
  }
}

// Header
.header {
  background-blend-mode: multiply;
  background-color: rgba(darken($primary-color, 30), 0.8);
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
  z-index: 20;

  &__nav {
    @include container;
    position: relative;
    z-index: 20;

    nav {
      padding: 5px 0;

      &:nth-child(1) {
        @include first();
        float: left;
      }

      &:nth-child(2) {
        @include last();
      }
    }
  }

  &__content {
    @include container;

    padding-top: 160px;

    // @include breakpoint($x-large) {
    //   max-width: $x-large;
    // }
  }

  &__border {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  &__wave {
    position: absolute;
    bottom: 0;

    > g {
      stroke: none;
      stroke-width: 1;
      fill: none;
      fill-rule: evenodd;
      fill-opacity: 0.4;
    }

    path {
      &:nth-child(1), &:nth-child(2) {
        fill: $secondary-color;
      }

      &:nth-child(3), &:nth-child(4) {
        fill: $primary-color;
      }
    }
  }

  &--landing {
    background-image: image-url('cargo1.png');
  }
}

// Partners
.section {
  @include section-layout;
  padding: 116px 0 120px 0;

  &__header {
    @include full();
    margin-bottom: $base-spacing * 4;
  }

  &__title {
    @extend .h3;
    text-align: center;
    margin-bottom: 0;

    &--sub {
      @extend .h5;
      margin-top: 0;
      color: $light-gray;
    }
  }

  // @include breakpoint($x-large) {
  //   max-width: $x-large;
  // }
}

.services {
  background-color: #f9f9f9;
}

.footer {
  @include section-layout;
}