/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.hero {
  text-align: center;
}

.masthead {
  position: relative;
  z-index: 20;
  background-image: image-url('cargo2.jpg');
  background-position: center;
  background-size: cover;
  height: 600px;
  color: $masthead-color;
  background-color: rgba(darken($tradeiq-blue-color, 30), 1);
  background-blend-mode: multiply;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    background-image: image-url('wave.png');

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    // padding: 1em 1em 1em;
    padding-top: 160px;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }
}

.masthead__menu {
  position: relative;
  border-bottom: $masthead-border;
  padding: 1rem 0;
  z-index: 20;

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  text-transform: uppercase;

  &--lg {
    text-transform: none;
    padding-right: 2em;
    font-weight: 700;
  }
}