---
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="{% if page.theme %}{{ page.theme | prepend: 'theme--' }}{% endif %}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include browser-upgrade.html %}
    <div class="header header--landing">
      {% include header.html %}
    </div>

    {{ content }}

    <footer class="footer theme--smoky">
      {% include footer.html %}
    </footer>

    {% include scripts.html %}

  </body>
</html>
